@import '../../../assets/styles/variables';

.box {
  cursor: move;
  position: absolute;
  width: 50px;
  height: 50px;
  font-weight: bold;
  color: $color-text;
  background-color: $color-bg-light;
  border-radius: 100%;

  &:hover {
    .mat-icon {
      opacity: 1;
      pointer-events: auto;
      transform: translate3d(-26px, -26px, 0);
    }
  }

  .mat-icon {
    position: absolute;
    transform: translate3d(-32px, -32px, 0);
    padding: 5px;
    background-color: $color-accent;
    border-radius: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }
}
