<div class="grid">
  
  <div class="grid__container">
    <div class="grid__boundary" [style.width.px]="demensions?.width" [style.height.px]="demensions?.height">
      <gt-box
        *ngFor="let box of boxes; let i = index"
        [box]="boxes[i]"
        [position]="box"
        [index]="i"
        [pid]="pid"
        (removeBoxEvent)="removeBox($event)"
        (copyBoxEvent)="copyBox($event)"
        (updateBoxEvent)="updateBox($event, box)">
      </gt-box>
    </div>
  </div>
</div>

<div class="grid__bar">
  <div class="grid__bar-wrapper">

    <div class="grid__bar-details">
      <a class="grid__bar-details-return" [routerLink]="['/plotter']" aria-label="Back to Plot List">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <!-- <div class="grid__bar-title">{{ title }}</div> -->
    </div>

    <div class="grid__bar-actions">
      <button mat-flat-button type="button" (click)="addNewBox()">Add Box</button>
      <button mat-flat-button color="accent" type="button" (click)="saveGrid()">Save Grid</button>
    </div>

  </div>
</div>