.grid {

  &__boundary {
    width: 400px;
    max-width: 100%;
    height: 400px;
    background-color: #eee;
  }

  &__box {
    cursor: move;
    width: 50px;
    height: 50px;
    background-color: rgb(94, 255, 0);
  }
}