<div class="grid">

  <div class="grid__header">
    <a [routerLink]="['/plotter']">Plots List</a>
    <h2 class="grid__title">{{ title }}</h2>
    <p *ngIf="description" class="grid__description">{{ description }}</p>
  </div>
  
  <div class="grid__container">
    <div class="grid__boundary" [style.width.px]="demensions?.width" [style.height.px]="demensions?.height">
      <gt-box *ngFor="let box of boxes; let i = index" [position]="box" [index]="i" (updateBoxPositionEvent)="updateBox($event, box)"></gt-box>
    </div>
  </div>
</div>

<div class="grid__actions">
  <button mat-flat-button type="button" (click)="addBox(0, 0)">Add Box</button>
  <button mat-flat-button color="accent" type="button" (click)="saveGrid()">Save Grid</button>
</div>