.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-bottom: 100px;

  &__title {
    width: 100%;
  }

  &__boundary {
    width: 600px;
    height: 600px;

    /* prettier-ignore */
    background-image:
      /* tint image */
      linear-gradient(to right, rgba(192, 192, 192, 0.75), rgba(192, 192, 192, 0.75)),
      /* checkered effect */
      linear-gradient(to right, #000 50%, #fff 50%),
      linear-gradient(to bottom, #000 50%, #fff 50%);
    background-blend-mode: normal, difference, normal;
    background-size: 50px 50px;
  }

  &__actions {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 30px;

    > * {
      margin-left: 15px;
    }
  }
}
