<div class="seed-form">
  <h2 mat-dialog-header>
    {{ data?.seed?.name ? 'Edit Seed' : 'New Seed' }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content class="seed-form__fields">

      <mat-form-field class="seed-form__name" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" formControlName="name" required>
      </mat-form-field>

      <mat-form-field class="seed-form__description" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            formControlName="description">
        </textarea>
      </mat-form-field>
      
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">Cancel</button>
      <button mat-flat-button color="accent" type="submit" [disabled]="!valid">Save</button>
    </mat-dialog-actions>
  </form>
</div>