<mat-toolbar class="navigation">
  <mat-toolbar-row>
    <span>Garden Track</span>
    <span class="navigation__spacer"></span>

    <nav>
      <ul class="navigation__actions">

        <!-- authenticated -->
        <ng-container *ngIf="authenticated">
          <li class="navigation__action">
            <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
          </li>
          <li class="navigation__action">
            <a [routerLink]="['/seeds']" routerLinkActive="active">Seeds</a>
          </li>
          <li class="navigation__action">
            <a [routerLink]="['/plotter']" routerLinkActive="active">Plots</a>
          </li>
          <li class="navigation__action">
            <button type="button" (click)="logout()" aria-label="Logout">
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </li>
        </ng-container>

        <!-- not authenticated -->
        <ng-container *ngIf="!authenticated">
          <li class="navigation__action">
            <a [routerLink]="['/auth', 'login']" routerLinkActive="active">Login</a>
          </li>
        </ng-container>

      </ul>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
