$color-bg: #f8f8f8;
$color-bg-light: #fff;

$color-text: #202020;
$color-text-light: #c1c1c1;
$color-text-inverted: #fff;

$border-radius: 25px;

// via http://mcg.mbitson.com

$md-primary: (
  50: #f2f3ff,
  100: #dde0fe,
  200: #c7ccfe,
  300: #b1b7fe,
  400: #a0a7fd,
  500: #8f98fd,
  600: #8790fd,
  700: #7c85fc,
  800: #727bfc,
  900: #606afc,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #e6e8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-accent: (
  50: #fffbed,
  100: #fff6d1,
  200: #fff0b2,
  300: #ffea93,
  400: #ffe67c,
  500: #ffe165,
  600: #ffdd5d,
  700: #ffd953,
  800: #ffd549,
  900: #ffcd37,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff7e1,
  A700: #fff0c8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-tertiary: (
  50: #ffede7,
  100: #fed3c4,
  200: #fdb69d,
  300: #fc9976,
  400: #fc8358,
  500: #fb6d3b,
  600: #fa6535,
  700: #fa5a2d,
  800: #f95026,
  900: #f83e19,
  A100: #ffffff,
  A200: #fff8f6,
  A400: #ffccc3,
  A700: #ffb6aa,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
