$color-primary: #503e9d;
$color-accent: #fcd661;
$color-accent-light: #fcd661;
$color-tertiary: #fb6d3b;
$color-tertiary-light: #fef7ec;

$color-bg: #f8f8f8;
$color-bg-light: #fff;

$color-text: #202020;
$color-text-light: #c1c1c1;

// via http://mcg.mbitson.com

$md-primary: (
  50: #eae8f3,
  100: #cbc5e2,
  200: #a89fce,
  300: #8578ba,
  400: #6a5bac,
  500: #503e9d,
  600: #493895,
  700: #40308b,
  800: #372881,
  900: #271b6f,
  A100: #b5abff,
  A200: #8878ff,
  A400: #5c45ff,
  A700: #452bff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-accent: (
  50: #fffaec,
  100: #fef3d0,
  200: #feebb0,
  300: #fde290,
  400: #fcdc79,
  500: #fcd661,
  600: #fcd159,
  700: #fbcc4f,
  800: #fbc645,
  900: #fabc33,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff2d9,
  A700: #ffeabf,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-tertiary: (
  50: #ffede7,
  100: #fed3c4,
  200: #fdb69d,
  300: #fc9976,
  400: #fc8358,
  500: #fb6d3b,
  600: #fa6535,
  700: #fa5a2d,
  800: #f95026,
  900: #f83e19,
  A100: #ffffff,
  A200: #fff8f6,
  A400: #ffccc3,
  A700: #ffb6aa,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
